body{
	background-image: url('images/blurred-background-bokeh-business-1217327.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.header{
	margin: auto;
	padding: 0px;
	color: white;
}
.left{
	margin-left:60px;
	padding:0px;
	float: left;

}
.left ul{
	list-style-type: none;
}
.left ul li{
	color: white;
	display: inline-block;
	padding: 10px 20px 10px 20px;
}
.left ul li i{
	 padding-right: 10px;
	 color: black;
}

.toggle i{
	padding: 16px 30px;
}
.right
{
	margin-right: 7em;
	float: right;
	padding:0px;
}
.right ul{
	list-style-type: none;
}
.right ul li{
	display: inline-block;
	padding: 10px 20px 10px 20px;
} 
.right ul li a i{
	color: white;
}
.right ul li a i:hover{
	color: #0077b3;
}
.navbar{
  position: absolute;
  padding: 0px;
  background-color: rgb(0, 0, 0, 0.4);
  height: 70px;
  width: 100%;
  top:5em;

}
.navbar ul{
	list-style-type: none;
	margin-right: 10em;
}
.navbar ul li{
	color: white;
	display: inline-block;
	float: right;
	padding: 10px 45px 20px 45px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
}
.navbar ul li a:hover{
	background-color: white;
	color: black;
	padding: 20px 15px 23px 15px;
}
/*.active{
	background-color: white;
	padding: 23.5px 35px 23px 35px;
}*/
.logo{
   font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: white;
    float: left;
    position: relative;
}
#LOGO{
	scroll-behavior: smooth;
	overflow-y: scroll;
}
.caption{
	color: white;
	font-weight: bold;
	margin: 9em 0px 50px 10em;
	position: absolute;
	
}
.caption h1{
	font-size: 80px;
}
.caption h4{
	font-size: 20px;
	margin-top: -50px;
}
.caption button{
	height: 50px;
	width: 140px;
	background-color: rgba(0,0,0,0.3);
	border: 2px solid white;
	margin-left: 120px;
	text-decoration: none;
	color: white;
	transition: 1s;
}
 .caption button:hover{
	background-color: white;
	color: black;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	transform: scale(1.15);

}
.toggle{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 70px;
	text-align: right;
	justify-content: center;
	margin: 2.5em 80px 20px -10px;
	font-size: 30px;
	position: absolute;
    display: none;
    box-sizing: border-box;
}
/*@media(max-width: 831px)
{
	.toggle {display: block;
	width: 100%; }
	.navbar ul {
		width:95%;
		display:none;
	   margin:0px 80px 10px 0px;
	}
	.navbar ul li{
        display: block;
        display: none;
        width: 100%;
        background-color: black;
        text-align: right;
        padding: 20px 60px 20px 10px;

	}
	.navbar ul li a{ 
		color: gray;
		padding: 20px 30px 20px 10px;}
	.navbar ul li a:hover{
		background-color: white;
		color: black;
		padding: 20px 10px 20px 100%;

	}
	.caption{display: none;}
	.active{display: block;}
}*/
main{
	background: url('images/pattern.jpg');
	width: 100%;
	position: absolute;
	top:29em;
	margin-top: -4px;
	scroll-behavior: smooth;
}
main h1{
	text-align: center;
	padding: 40px 20px 0px 20px;
	font-family: sans-serif;
	color: white;
	font-size: 70px;
}
main hr{
	text-align: center;
	width: 40%;
	margin-bottom: 20px;
	margin-top: -20px;
}
main img{
	background-position: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	}
.image{
	background-color: black;
	height: 55em;
	width: 100%;
	position: absolute;
	top:12em;
}	
.image-1 img{
	
	float: left;
	border: 6px solid white;
	margin:8% 25% 20px 25%;
	transition: .5s;
	filter: grayscale(100%);

}
.image-1 img:hover {
  filter: none;
  transform: scale(1.1);
  border:2px solid white;
  cursor: pointer;
}
.overlay button{
	border:none;
	height: 50px;
	width:120px;
	background-color: pink;
	color: white;

}
.image-2{
	height: 20%;
	width: 20%;
	float:right;
}
.modal{
 position: fixed;
 z-index: 1;
 left:0;
 top:0;
 height: 100%;
 width: 100%;
 overflow: auto;
 background-color: rgba(0, 0, 0, 0.5);
 display:none;
 animation-name: modalopen;
 animation-duration: 1.5s;
}
#slideshowimage1{
  height: 100%;
  width:80%;
  text-align: center;
  margin: 5% 10% 0% 10%;

}
.arrow-left{
	cursor: pointer;
	position: absolute;
	top:50%;
	color: white;
	font-size: 50px;
	left:50px;
	
}
.arrow-right{
	cursor: pointer;
	position: absolute;
	top:50%;
	color: white;
	font-size: 50px;
	right:50px;
}
.arrow-right:hover,.arrow-left:hover{
	color: gray;
}
.closeBtn{

	float: right;
	color: gray;
	font-size: 30px;
	padding-top: 30px;
	padding-right: 50px;
}
.closeBtn:hover,.closeBtn:focus{
	color: white;
	text-decoration: none;
	cursor: pointer;
	transition: .5s;
}
@keyframes modalopen{
	from{opacity: 0}
	to {opacity: 1}
}
.image-2{
	margin-left: 40px;
	margin-right: 40px;
}
